<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doppler.blog.mappers.HashtagMapper">
    <select id="findTagByName" resultType="Hashtag">
    SELECT
        h.name,
        h.id
    FROM
        hashtag h
    WHERE
        h.name = #{name}
    </select>
    <select id="findAllTags" resultType="Hashtag">
    SELECT
        h.id,
        h.name
    FROM
        hashtag h
    </select>
    <delete id="deleteTagById" flushCache="true">
    DELETE
    FROM
        hashtag
    WHERE
        id = #{id}
    </delete>
    <insert id="insertHashTag" parameterType="Hashtag" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO
        hashtag(name,createdAt,updatedAt)
        VALUES (#{name},#{createdAt},#{createdAt})
    </insert>
    <insert id="savePostAndTags" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        posts_tags(post_id,tag_id)
        VALUES (#{id},#{tagId})
    </insert>
</mapper>